{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'styles/style.css'%}">
</head>
<body>
    <header class="header">
        <div class="wrapper">
           <div class="header_wrapper">
               <div class="header_logo">
                   <a href="/" class="header_logo-link">
                       <img src="{% static 'img/svg/logo.svg'%}" alt="logo" class="header_logo-pic">
                   </a>
               </div>
               <nav class="header_nav">
                   <div class="header_block">
                       <ul class="header_list">
                           <li class="header_item">
                               <div class="nav_wrapper">
                                   <img src="{% static 'img/svg/icon_phone.svg'%}" alt="icon phone" class="icon_phone">
                                   <a href="#!" class="header_link">+1-302-231-1880</a>
                               </div>

                           </li>
                           <li class="header_item">
                               <div class="nav_wrapper">
                                   <img src="{% static 'img/svg/icon_message.svg'%}" alt="icon email" class="icon_email">
                                   <a href="#!" class="header_link">jeff@jeffweber.net</a>
                               </div>
                           </li>
                       </ul>
                       <button class="header_button">Contact Jeff</button>
                   </div>
               </nav>
           </div>
        </div>
    </header>

    <main class="main">
        <section class="intro">
            <div class="wrapper">
                <div class="left_block">
                     <form class="search-form">
                        <div class="search_wrapper">
                            <input type="text" class="search_input" value="Search for Equipment...">
                            <div class="search_button">
                                <img src="{% static 'img/svg/lupa.svg'%}" alt="" class="search_icon" >
                            </div>
                        </div>
                    </form>
                    <form class="categories-form">
                        <div class="categories_wrapper">
                            <ul class="categories_items">
                                <li class="categories_item">
                                    <a href="#!" >Blocks & Swivels</a>
                                </li>
                                <li class="categories_item">
                                    <a href="#!" >BOP-Accumulators-Well Control</a>
                                </li>
                                <li class="categories_item">
                                    <a href="#!" >Casing Tubing Running</a>
                                </li><li class="categories_item">
                                    <a href="#!" >Cementing</a>
                                </li>
                                <li class="categories_item">
                                    <a href="#!" >Coil Tubing</a>
                                </li>
                                <li class="categories_item">
                                    <a href="#!" >Compressors</a>
                                </li><li class="categories_item">
                                    <a href="#!" >Drill String</a>
                                </li>
                                <li class="categories_item">
                                    <a href="#!" >Drilling Rigs</a>
                                </li>
                                <li class="categories_item">
                                    <a href="#!" >Engines-Gensets-SCR</a>
                                </li>
                                <li class="categories_item">
                                    <a href="#!" >Fishing Tools</a>
                                </li>
                                <li class="categories_item">
                                    <a href="#!" >Flowback</a>
                                </li>
                                <li class="categories_item">
                                    <a href="#!" >Frac</a>
                                </li>
                                <li class="categories_item">
                                    <a href="#!" >Handling Tools</a>
                                </li>
                                <li class="categories_item">
                                    <a href="#!" >Manifolds</a>
                                </li>
                                <li class="categories_item">
                                    <a href="#!" >Miscellaneous</a>
                                </li>
                                <li class="categories_item">
                                    <a href="#!" >Mud Pumps-Conditioning</a>
                                </li>
                                <li class="categories_item">
                                    <a href="#!" >Nitrogen</a>
                                </li>
                                <li class="categories_item">
                                    <a href="#!" >OCTG</a>
                                </li>
                                <li class="categories_item">
                                    <a href="#!" >Offshore</a>
                                </li>
                                <li class="categories_item">
                                    <a href="#!" >Pumps</a>
                                </li>
                                <li class="categories_item">
                                    <a href="#!" >Slickline</a>
                                </li>
                                <li class="categories_item">
                                    <a href="#!" >Snubbing</a>
                                </li>
                                <li class="categories_item">
                                    <a href="#!" >Subsea</a>
                                </li>
                                <li class="categories_item">
                                    <a href="#!" >Top Drives</a>
                                </li>
                                <li class="categories_item">
                                    <a href="#!" >Thru Tubing</a>
                                </li>
                                <li class="categories_item">
                                    <a href="#!" >Well Service-Workover</a>
                                </li>
                                <li class="categories_item">
                                    <a href="#!" >Well Test</a>
                                </li>
                                <li class="categories_item">
                                    <a href="#!" >Wireline</a>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
                <div class="right_block">
                    <div class="title_right_block">
                        <h1>New Equipment</h1>
                    </div>
                    <div class="right_wrapper">
                        <div class="card">
                            <div class="card_image">
                                <img src="{% static 'img/svg/picture.jpg'%}" alt="picture">
                            </div>
                            <div class="card_descr">
                                <div class="card_title">Stacked IDM-AC1600 Electric Drive Drawworks w/GE GEB28A1</div>
                                <div class="card_subtitle">
                                    <div class="title_category">
                                        <h1>Сategory:</h1>
                                        <li class="category_value">
                                            <a href="#!" >Drill String</a>
                                        </li>
                                    </div>
                                    <div class="title_condition">
                                        <h1>Condition:</h1>
                                        <li class="condition_value">
                                            <a href="#!" >Used</a>
                                        </li>
                                    </div>
                                    <div class="title_location">
                                        <h1>Location:</h1>
                                        <li class="location_value">
                                            <a href="#!" >USA</a>
                                        </li>
                                    </div>
                                    <div class="title_date">
                                        <h1>Date Posted:</h1>
                                        <li class="date_value">
                                            <a href="#!" >Feb.2021</a>
                                        </li>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="card_footer">
                                <div class="card_price">175K USD</div>
                                <div class="card_button"><img src="{% static 'img/svg/button_right_block.svg'%}" alt="#!" class="card_icon"></div>
                            </div>
                        </div>
                         <div class="card">
                            <div class="card_image">
                                <img src="{% static 'img/svg/picture.jpg'%}" alt="picture">
                            </div>
                            <div class="card_descr">
                                <div class="card_title">Stacked IDM-AC1600 Electric Drive Drawworks w/GE GEB28A1</div>
                                <div class="card_subtitle">
                                    <div class="title_category">
                                        <h1>Сategory:</h1>
                                        <li class="category_value">
                                            <a href="#!" >Drill String</a>
                                        </li>
                                    </div>
                                    <div class="title_condition">
                                        <h1>Condition:</h1>
                                        <li class="condition_value">
                                            <a href="#!" >Used</a>
                                        </li>
                                    </div>
                                    <div class="title_location">
                                        <h1>Location:</h1>
                                        <li class="location_value">
                                            <a href="#!" >USA</a>
                                        </li>
                                    </div>
                                    <div class="title_date">
                                        <h1>Date Posted:</h1>
                                        <li class="date_value">
                                            <a href="#!" >Feb.2021</a>
                                        </li>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="card_footer">
                                <div class="card_price">175K USD</div>
                                <div class="card_button"><img src="{% static 'img/svg/button_right_block.svg'%}" alt="#!" class="card_icon"></div>
                            </div>
                        </div>
                         <div class="card">
                            <div class="card_image">
                                <img src="{% static 'img/svg/picture.jpg'%}" alt="picture">
                            </div>
                            <div class="card_descr">
                                <div class="card_title">Stacked IDM-AC1600 Electric Drive Drawworks w/GE GEB28A1</div>
                                <div class="card_subtitle">
                                    <div class="title_category">
                                        <h1>Сategory:</h1>
                                        <li class="category_value">
                                            <a href="#!" >Drill String</a>
                                        </li>
                                    </div>
                                    <div class="title_condition">
                                        <h1>Condition:</h1>
                                        <li class="condition_value">
                                            <a href="#!" >Used</a>
                                        </li>
                                    </div>
                                    <div class="title_location">
                                        <h1>Location:</h1>
                                        <li class="location_value">
                                            <a href="#!" >USA</a>
                                        </li>
                                    </div>
                                    <div class="title_date">
                                        <h1>Date Posted:</h1>
                                        <li class="date_value">
                                            <a href="#!" >Feb.2021</a>
                                        </li>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="card_footer">
                                <div class="card_price">175K USD</div>
                                <div class="card_button"><img src="{% static 'img/svg/button_right_block.svg'%}" alt="#!" class="card_icon"></div>
                            </div>
                        </div>
                         <div class="card">
                            <div class="card_image">
                                <img src="{% static 'img/svg/picture.jpg'%}" alt="picture">
                            </div>
                            <div class="card_descr">
                                <div class="card_title">Stacked IDM-AC1600 Electric Drive Drawworks w/GE GEB28A1</div>
                                <div class="card_subtitle">
                                    <div class="title_category">
                                        <h1>Сategory:</h1>
                                        <li class="category_value">
                                            <a href="#!" >Drill String</a>
                                        </li>
                                    </div>
                                    <div class="title_condition">
                                        <h1>Condition:</h1>
                                        <li class="condition_value">
                                            <a href="#!" >Used</a>
                                        </li>
                                    </div>
                                    <div class="title_location">
                                        <h1>Location:</h1>
                                        <li class="location_value">
                                            <a href="#!" >USA</a>
                                        </li>
                                    </div>
                                    <div class="title_date">
                                        <h1>Date Posted:</h1>
                                        <li class="date_value">
                                            <a href="#!" >Feb.2021</a>
                                        </li>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="card_footer">
                                <div class="card_price">175K USD</div>
                                <div class="card_button"><img src="{% static 'img/svg/button_right_block.svg'%}" alt="#!" class="card_icon"></div>
                            </div>
                        </div>
                         <div class="card">
                            <div class="card_image">
                                <img src="{% static 'img/svg/picture.jpg'%}" alt="picture">
                            </div>
                            <div class="card_descr">
                                <div class="card_title">Stacked IDM-AC1600 Electric Drive Drawworks w/GE GEB28A1</div>
                                <div class="card_subtitle">
                                    <div class="title_category">
                                        <h1>Сategory:</h1>
                                        <li class="category_value">
                                            <a href="#!" >Drill String</a>
                                        </li>
                                    </div>
                                    <div class="title_condition">
                                        <h1>Condition:</h1>
                                        <li class="condition_value">
                                            <a href="#!" >Used</a>
                                        </li>
                                    </div>
                                    <div class="title_location">
                                        <h1>Location:</h1>
                                        <li class="location_value">
                                            <a href="#!" >USA</a>
                                        </li>
                                    </div>
                                    <div class="title_date">
                                        <h1>Date Posted:</h1>
                                        <li class="date_value">
                                            <a href="#!" >Feb.2021</a>
                                        </li>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="card_footer">
                                <div class="card_price">175K USD</div>
                                <div class="card_button"><img src="{% static 'img/svg/button_right_block.svg'%}" alt="#!" class="card_icon"></div>
                            </div>
                        </div>
                         <div class="card">
                            <div class="card_image">
                                <img src="{% static 'img/svg/picture.jpg'%}" alt="picture">
                            </div>
                            <div class="card_descr">
                                <div class="card_title">Stacked IDM-AC1600 Electric Drive Drawworks w/GE GEB28A1</div>
                                <div class="card_subtitle">
                                    <div class="title_category">
                                        <h1>Сategory:</h1>
                                        <li class="category_value">
                                            <a href="#!" >Drill String</a>
                                        </li>
                                    </div>
                                    <div class="title_condition">
                                        <h1>Condition:</h1>
                                        <li class="condition_value">
                                            <a href="#!" >Used</a>
                                        </li>
                                    </div>
                                    <div class="title_location">
                                        <h1>Location:</h1>
                                        <li class="location_value">
                                            <a href="#!" >USA</a>
                                        </li>
                                    </div>
                                    <div class="title_date">
                                        <h1>Date Posted:</h1>
                                        <li class="date_value">
                                            <a href="#!" >Feb.2021</a>
                                        </li>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="card_footer">
                                <div class="card_price">175K USD</div>
                                <div class="card_button"><img src="{% static 'img/svg/button_right_block.svg'%}" alt="#!" class="card_icon"></div>
                            </div>
                        </div>
                         <div class="card">
                            <div class="card_image">
                                <img src="{% static 'img/svg/picture.jpg'%}" alt="picture">
                            </div>
                            <div class="card_descr">
                                <div class="card_title">Stacked IDM-AC1600 Electric Drive Drawworks w/GE GEB28A1</div>
                                <div class="card_subtitle">
                                    <div class="title_category">
                                        <h1>Сategory:</h1>
                                        <li class="category_value">
                                            <a href="#!" >Drill String</a>
                                        </li>
                                    </div>
                                    <div class="title_condition">
                                        <h1>Condition:</h1>
                                        <li class="condition_value">
                                            <a href="#!" >Used</a>
                                        </li>
                                    </div>
                                    <div class="title_location">
                                        <h1>Location:</h1>
                                        <li class="location_value">
                                            <a href="#!" >USA</a>
                                        </li>
                                    </div>
                                    <div class="title_date">
                                        <h1>Date Posted:</h1>
                                        <li class="date_value">
                                            <a href="#!" >Feb.2021</a>
                                        </li>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="card_footer">
                                <div class="card_price">175K USD</div>
                                <div class="card_button"><img src="{% static 'img/svg/button_right_block.svg'%}" alt="#!" class="card_icon"></div>
                            </div>
                        </div>
                         <div class="card">
                            <div class="card_image">
                                <img src="{% static 'img/svg/picture.jpg'%}" alt="picture">
                            </div>
                            <div class="card_descr">
                                <div class="card_title">Stacked IDM-AC1600 Electric Drive Drawworks w/GE GEB28A1</div>
                                <div class="card_subtitle">
                                    <div class="title_category">
                                        <h1>Сategory:</h1>
                                        <li class="category_value">
                                            <a href="#!" >Drill String</a>
                                        </li>
                                    </div>
                                    <div class="title_condition">
                                        <h1>Condition:</h1>
                                        <li class="condition_value">
                                            <a href="#!" >Used</a>
                                        </li>
                                    </div>
                                    <div class="title_location">
                                        <h1>Location:</h1>
                                        <li class="location_value">
                                            <a href="#!" >USA</a>
                                        </li>
                                    </div>
                                    <div class="title_date">
                                        <h1>Date Posted:</h1>
                                        <li class="date_value">
                                            <a href="#!" >Feb.2021</a>
                                        </li>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="card_footer">
                                <div class="card_price">175K USD</div>
                                <div class="card_button"><img src="{% static 'img/svg/button_right_block.svg'%}" alt="#!" class="card_icon"></div>
                            </div>
                        </div>
                         <div class="card">
                            <div class="card_image">
                                <img src="{% static 'img/svg/picture.jpg'%}" alt="picture">
                            </div>
                            <div class="card_descr">
                                <div class="card_title">Stacked IDM-AC1600 Electric Drive Drawworks w/GE GEB28A1</div>
                                <div class="card_subtitle">
                                    <div class="title_category">
                                        <h1>Сategory:</h1>
                                        <li class="category_value">
                                            <a href="#!" >Drill String</a>
                                        </li>
                                    </div>
                                    <div class="title_condition">
                                        <h1>Condition:</h1>
                                        <li class="condition_value">
                                            <a href="#!" >Used</a>
                                        </li>
                                    </div>
                                    <div class="title_location">
                                        <h1>Location:</h1>
                                        <li class="location_value">
                                            <a href="#!" >USA</a>
                                        </li>
                                    </div>
                                    <div class="title_date">
                                        <h1>Date Posted:</h1>
                                        <li class="date_value">
                                            <a href="#!" >Feb.2021</a>
                                        </li>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="card_footer">
                                <div class="card_price">175K USD</div>
                                <div class="card_button"><img src="{% static 'img/svg/button_right_block.svg'%}" alt="#!" class="card_icon"></div>
                            </div>
                        </div>
                         <div class="card">
                            <div class="card_image">
                                <img src="{% static 'img/svg/picture.jpg'%}" alt="picture">
                            </div>
                            <div class="card_descr">
                                <div class="card_title">Stacked IDM-AC1600 Electric Drive Drawworks w/GE GEB28A1</div>
                                <div class="card_subtitle">
                                    <div class="title_category">
                                        <h1>Сategory:</h1>
                                        <li class="category_value">
                                            <a href="#!" >Drill String</a>
                                        </li>
                                    </div>
                                    <div class="title_condition">
                                        <h1>Condition:</h1>
                                        <li class="condition_value">
                                            <a href="#!" >Used</a>
                                        </li>
                                    </div>
                                    <div class="title_location">
                                        <h1>Location:</h1>
                                        <li class="location_value">
                                            <a href="#!" >USA</a>
                                        </li>
                                    </div>
                                    <div class="title_date">
                                        <h1>Date Posted:</h1>
                                        <li class="date_value">
                                            <a href="#!" >Feb.2021</a>
                                        </li>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="card_footer">
                                <div class="card_price">175K USD</div>
                                <div class="card_button"><img src="{% static 'img/svg/button_right_block.svg'%}" alt="#!" class="card_icon"></div>
                            </div>
                        </div>
                         <div class="card">
                            <div class="card_image">
                                <img src="{% static 'img/svg/picture.jpg'%}" alt="picture">
                            </div>
                            <div class="card_descr">
                                <div class="card_title">Stacked IDM-AC1600 Electric Drive Drawworks w/GE GEB28A1</div>
                                <div class="card_subtitle">
                                    <div class="title_category">
                                        <h1>Сategory:</h1>
                                        <li class="category_value">
                                            <a href="#!" >Drill String</a>
                                        </li>
                                    </div>
                                    <div class="title_condition">
                                        <h1>Condition:</h1>
                                        <li class="condition_value">
                                            <a href="#!" >Used</a>
                                        </li>
                                    </div>
                                    <div class="title_location">
                                        <h1>Location:</h1>
                                        <li class="location_value">
                                            <a href="#!" >USA</a>
                                        </li>
                                    </div>
                                    <div class="title_date">
                                        <h1>Date Posted:</h1>
                                        <li class="date_value">
                                            <a href="#!" >Feb.2021</a>
                                        </li>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="card_footer">
                                <div class="card_price">175K USD</div>
                                <div class="card_button"><img src="{% static 'img/svg/button_right_block.svg'%}" alt="#!" class="card_icon"></div>
                            </div>
                        </div>
                         <div class="card">
                            <div class="card_image">
                                <img src="{% static 'img/svg/picture.jpg'%}" alt="picture">
                            </div>
                            <div class="card_descr">
                                <div class="card_title">Stacked IDM-AC1600 Electric Drive Drawworks w/GE GEB28A1</div>
                                <div class="card_subtitle">
                                    <div class="title_category">
                                        <h1>Сategory:</h1>
                                        <li class="category_value">
                                            <a href="#!" >Drill String</a>
                                        </li>
                                    </div>
                                    <div class="title_condition">
                                        <h1>Condition:</h1>
                                        <li class="condition_value">
                                            <a href="#!" >Used</a>
                                        </li>
                                    </div>
                                    <div class="title_location">
                                        <h1>Location:</h1>
                                        <li class="location_value">
                                            <a href="#!" >USA</a>
                                        </li>
                                    </div>
                                    <div class="title_date">
                                        <h1>Date Posted:</h1>
                                        <li class="date_value">
                                            <a href="#!" >Feb.2021</a>
                                        </li>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="card_footer">
                                <div class="card_price">175K USD</div>
                                <div class="card_button"><img src="{% static 'img/svg/button_right_block.svg'%}" alt="#!" class="card_icon"></div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card_image">
                                <img src="{% static 'img/svg/picture.jpg'%}" alt="picture">
                            </div>
                            <div class="card_descr">
                                <div class="card_title">Stacked IDM-AC1600 Electric Drive Drawworks w/GE GEB28A1</div>
                                <div class="card_subtitle">
                                    <div class="title_category">
                                        <h1>Сategory:</h1>
                                        <li class="category_value">
                                            <a href="#!" >Drill String</a>
                                        </li>
                                    </div>
                                    <div class="title_condition">
                                        <h1>Condition:</h1>
                                        <li class="condition_value">
                                            <a href="#!" >Used</a>
                                        </li>
                                    </div>
                                    <div class="title_location">
                                        <h1>Location:</h1>
                                        <li class="location_value">
                                            <a href="#!" >USA</a>
                                        </li>
                                    </div>
                                    <div class="title_date">
                                        <h1>Date Posted:</h1>
                                        <li class="date_value">
                                            <a href="#!" >Feb.2021</a>
                                        </li>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="card_footer">
                                <div class="card_price">175K USD</div>
                                <div class="card_button"><img src="{% static 'img/svg/button_right_block.svg'%}" alt="#!" class="card_icon"></div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card_image">
                                <img src="{% static 'img/svg/picture.jpg'%}" alt="picture">
                            </div>
                            <div class="card_descr">
                                <div class="card_title">Stacked IDM-AC1600 Electric Drive Drawworks w/GE GEB28A1</div>
                                <div class="card_subtitle">
                                    <div class="title_category">
                                        <h1>Сategory:</h1>
                                        <li class="category_value">
                                            <a href="#!" >Drill String</a>
                                        </li>
                                    </div>
                                    <div class="title_condition">
                                        <h1>Condition:</h1>
                                        <li class="condition_value">
                                            <a href="#!" >Used</a>
                                        </li>
                                    </div>
                                    <div class="title_location">
                                        <h1>Location:</h1>
                                        <li class="location_value">
                                            <a href="#!" >USA</a>
                                        </li>
                                    </div>
                                    <div class="title_date">
                                        <h1>Date Posted:</h1>
                                        <li class="date_value">
                                            <a href="#!" >Feb.2021</a>
                                        </li>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="card_footer">
                                <div class="card_price">175K USD</div>
                                <div class="card_button"><img src="{% static 'img/svg/button_right_block.svg'%}" alt="#!" class="card_icon"></div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card_image">
                                <img src="{% static 'img/svg/picture.jpg'%}" alt="picture">
                            </div>
                            <div class="card_descr">
                                <div class="card_title">Stacked IDM-AC1600 Electric Drive Drawworks w/GE GEB28A1</div>
                                <div class="card_subtitle">
                                    <div class="title_category">
                                        <h1>Сategory:</h1>
                                        <li class="category_value">
                                            <a href="#!" >Drill String</a>
                                        </li>
                                    </div>
                                    <div class="title_condition">
                                        <h1>Condition:</h1>
                                        <li class="condition_value">
                                            <a href="#!" >Used</a>
                                        </li>
                                    </div>
                                    <div class="title_location">
                                        <h1>Location:</h1>
                                        <li class="location_value">
                                            <a href="#!" >USA</a>
                                        </li>
                                    </div>
                                    <div class="title_date">
                                        <h1>Date Posted:</h1>
                                        <li class="date_value">
                                            <a href="#!" >Feb.2021</a>
                                        </li>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="card_footer">
                                <div class="card_price">175K USD</div>
                                <div class="card_button"><img src="{% static 'img/svg/button_right_block.svg'%}" alt="#!" class="card_icon"></div>
                            </div>
                        </div>
                    </div>
                    <div class="show_more">
                        <a href="#!" >Show More</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>