{% extends 'homepage.html' %}
{% load static %}
{% block title %}Product{% endblock %}
{% block right %}
<div class="right_block">
    <div class="title_right_block">
        <h1>{{ product.product_title }}</h1>
    </div>
    <div class="product_image">
        <img src="/media/{{ product.image }}" alt="picture">
    </div>
    <div class="product_category">Listing id : {{ product.id }}</div>
    <div class="product_category">Product category : {{ product.category }}</div>
    <div class="product_category">Product location : {{ product.location }}</div>
    <div class="product_category">Product condition : {{ product.condition }}</div>
    <div class="product_category">Product date posted : {{ product.data_posted }}</div>
    <div class="product_category">Product price : {{ product.price }}</div>
    <div class="product_inf">{{ product.description }}</div>


</div>
{% endblock %}