html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: middle;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('../fonts/roboto-v20-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v20-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/roboto-v20-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v20-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/roboto-v20-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v20-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


html{
    box-sizing:border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: 'Roboto';
    font-style: normal;
    font-size:16px;
    line-height:1.2;
    font-weight:normal;
}

.wrapper{
    max-width:1280px ;
    margin: 0 auto;
}

/*header styles start*/

.header_wrapper{
    display:flex;
    flex-wrap:wrap;
    align-items:flex-end;
    justify-content:end;
    padding-top:29px;
    padding-bottom:28px;

}


.header_list{
    display:flex;
    flex-wrap:wrap;

}


.header_item{

    margin-right:42px;

}
.header_block{

    display:flex;
    align-items:center;
    justify-content:space-around;
    margin-left:42px;

}

.header_button{
    width:190px;
    height:54px;
    border-radius:24px;
    background:#5C5FAB;
    border:none;
    color:#fff;
    font-weight:700;
    font-size:18px;
    margin-left:268px;
}

.header_link{
    font-size:18px;
    text-decoration:none;
    color:#1F1F31;
    padding-left:20px;
    font-weight:500;

}


.header_link:hover {
    color:#1F1F31;
}
/*Header styles finish*/



/* Intro style start */

.intro{
    height:100vh;
    background: #F6F8FA;
    padding-top:61px;

}

.search_wrapper{
    width:300px;
    height:55px;
    background-color:#fff;
    display:flex;
    justify-content:space-around;
    color:black;
    border-radius:78px;
    align-items:center;

}

.search_input{
    border:none;
    outline:none;
    font-size:14px;
    color:rgba(0,0,0,0.5);

}
.search_button{
    position:relative;
    width:40px;
    height:40px;
    border-radius:100px;
    background-color:rgba(92, 95, 171, 1);
    cursor:pointer;


}

.search_icon{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

}


/*Intro style finish*/