html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: middle;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('../fonts/roboto-v20-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v20-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/roboto-v20-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v20-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/roboto-v20-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v20-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


html{
    box-sizing:border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: 'Roboto';
    font-style: normal;
    font-size:16px;
    line-height:1.2;
    font-weight:normal;
}

.wrapper{
    max-width:1280px ;
    margin: 0 auto;
    display:flex;
}

/*header styles start*/

.header_wrapper{
    display:flex;
    flex-wrap:wrap;
    align-items:flex-end;
    justify-content:end;
    padding-top:29px;
    padding-bottom:28px;
}

.header_list{
    display:flex;
    flex-wrap:wrap;
}

.header_item{
    margin-right:42px;
}
.header_block{
    display:flex;
    align-items:center;
    justify-content:space-around;
    margin-left:42px;
}

.header_button{
    width:190px;
    height:54px;
    border-radius:24px;
    background:#5C5FAB;
    border:none;
    color:#fff;
    font-weight:700;
    font-size:18px;
    margin-left:268px;
}

.header_link{
    font-size:18px;
    text-decoration:none;
    color:#1F1F31;
    padding-left:20px;
    font-weight:500;
}

.header_link:hover {
    color:#1F1F31;
}

/*Header styles finish*/


/* Intro style start */

.intro{
    min-height:2040px;
    background: #F6F8FA;
    padding-top:61px;
}

.search_wrapper{
    width:300px;
    height:55px;
    background-color:#fff;
    display:flex;
    justify-content:space-around;
    color:black;
    border-radius:78px;
    align-items:center;
}

.search_input{
    border:none;
    outline:none;
    font-size:14px;
    color:rgba(0,0,0,0.5);
}

.search_button{
    position:relative;
    width:40px;
    height:40px;
    border-radius:100px;
    background-color:rgba(92, 95, 171, 1);
    cursor:pointer;
}

.search_icon{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}


.show_more{
    text-decoration:none;
    list-style-type: none;
    padding:44px 416px 57px 416px;
}

.show_more > a{
    font-size:14px;
    font-weight:700;
    color:rgba(31, 31, 49, 1);
}

/*Intro style finish*/


/*Categories styles start*/

.categories_wrapper{
    width:300px;
    min-height:1184px;
    background-color:#fff;
    color:black;
    border-radius:18px;
    align-items:center;
    margin-top:15px;
}

.categories_item > a {
    text-decoration:none;
    font-size:14px;
    font-weight:500;
    color:black;
}

.categories_items{
    padding:29px 0 32px 40px;
}

.categories_item{
    margin-top:25px;
}

.categories_item:first-child{
    margin-top:0;
}

/*Categories styles finish*/


/* Right block start*/

.right_block{
    margin-left:42px;
}

.title_right_block > h1{
    font-size:36px;
    font-weight:700;
}

.card{
    width:287px;
    height:335px;
    background-color:#fff;
    border-radius:11px;
}

.card_image{
    height:165px;
    width:287px;
}

.card_image > img{
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius:11px;
}

.right_wrapper{
    margin-top:27px;
    width:945px;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-row-gap: 21px;
    grid-column-gap: 21px;
}

.card_descr{
    padding:23px 0 0 23px;
}

.card_title{
    front-size:14px;
    font-weight:500;
}

.card_subtitle{
    margin-top:10px;
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-row-gap: 3px;

}

.card_footer{
    margin-top:5px;
    display:flex;
    justify-content:space-between;
    padding:0 23px 0 23px;
    align-items:center;
}

.card > hr{
    margin:0 auto;
    margin-top:14px;
    width:259px;
    border: 1px solid rgba(229, 229, 229, 0.77);
}

.card_button{
    position:relative;
    width:28px;
    height:28px;
    border-radius:100px;
    background-color:rgba(92, 95, 171, 1);
    cursor:pointer;
}

.card_icon{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

/*start category description*/


.title_category > h1{
    color:rgba(31, 31, 49, 1);
    font-size:10px;
    font-weight:300;
    padding:0 11px 0 0;
}

.category_value > a{
    color:rgba(31, 31, 49, 1);
    font-size:10px;
    font-weight:400;
    text-decoration:none;
}

.title_category{
    display:flex;
    justify-content:start;
    align-items:center;

}

.title_category > li{
    list-style-type: none;
}

/*finish category description*/


/*start condition description*/

.title_condition > h1{
    color:rgba(31, 31, 49, 1);
    font-size:10px;
    font-weight:300;
    padding:0 22px 0 0;
}

.condition_value > a{
    color:rgba(31, 31, 49, 1);
    font-size:10px;
    font-weight:400;
    text-decoration:none;
}

.title_condition{
    display:flex;
    justify-content:start;
    align-items:center;

}

.title_condition > li{
    list-style-type: none;
}

/*finish condition description*/


/*start location description*/

.title_location > h1{
    color:rgba(31, 31, 49, 1);
    font-size:10px;
    font-weight:300;
    padding:0 11px 0 0;
}

.location_value > a{
    color:rgba(31, 31, 49, 1);
    font-size:10px;
    font-weight:400;
    text-decoration:none;
}

.title_location{
    display:flex;
    justify-content:start;
    align-items:center;

}

.title_location > li{
    list-style-type: none;
}

/*finish location description*/


/*start date description*/

.title_date > h1{
    color:rgba(31, 31, 49, 1);
    font-size:10px;
    font-weight:300;
    padding:0 11px 0 0;
}

.date_value > a{
    color:rgba(31, 31, 49, 1);
    font-size:10px;
    font-weight:400;
    text-decoration:none;
}

.title_date{
    display:flex;
    justify-content:start;
    align-items:center;

}

.title_date > li{
    list-style-type: none;
}
/*finish date description*/
/*Right block finish*/

/*footer start*/

.footer{
    height:241px;
}

.footer_up{
    height:241px;
}

.footer_down{
    height:55px;
    background-color:#5C5FAB;
}

.footer_wrapper {
    display:flex;
}

.title_left_footer > h1{
    padding:15px 710px 12px 0;
    color:rgba(255, 255, 255, 0.8);
    font-size:12px;
    font-weight:700;
}

.programmes > h1 {
    padding:15px 0 12px 25px;
    color:rgba(255, 255, 255, 0.8);
    font-size:12px;
    font-weight:700;
    width:295px;
}

.designer > h1{
    padding:15px 0 12px 0;
    color:rgba(255, 255, 255, 0.8);
    font-size:12px;
    font-weight:700;
    width:120px;
}

.logo_footer_left{
    padding:48px 39px 22px 0;
}

.footer_logo_text > h1{
    width:295px;
    font-weight:400;
    font-size:8px;
    color:rgba(0, 0, 0, 0.5);

}

.wrapper > hr{
    margin:39px;
    margin-left:39px;
    height:171px;
    border: 1px solid rgba(229, 229, 229, 1);

}

.office_footer_wrapper{
    max-width: 355px;
    margin: 0 auto;
    display: flex;
}
.office_footer{
    margin-top:66px;
    margin-left:55px;
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-row-gap: 2px;
    grid-column-gap: 60px;
}

.us_centre_footer > h1 {
    font-size:24px;
    font-weight:700;
}

.ru_centre_footer > h1{
    font-size:24px;
    font-weight:700;
}

.us_title_centre_footer > h1{
    font-size:12px;
    font-weight:500;
}
.ru_title_centre_footer > h1{
    font-size:12px;
    font-weight:500;
}

.address_us_wrapper > h1{
    padding-left:10px;
    padding-top:12px;
    text-decoration:none;
    font-size:12px;
    font-weight:400;
    width:165px;
}

.address_us_wrapper{
    display:flex;
}

.address_blr_wrapper > h1{
    padding-left:10px;
    padding-top:3px;
    text-decoration:none;
    font-size:12px;
    font-weight:400;
    width:165px;
}

.address_blr_wrapper{
    display:flex;
}

.phone_blr_wrapper > h1{
    padding-left:10px;
    padding-top:3px;
    text-decoration:none;
    font-size:12px;
    font-weight:400;
    width:165px;
}

.phone_blr_wrapper{
    display:flex;
}

.phone_us_wrapper > h1{
    padding-left:10px;
    padding-top:3px;
    text-decoration:none;
    font-size:12px;
    font-weight:400;
    width:165px;
}

.phone_us_wrapper{
    display:flex;
    padding-top:10px;
}

.contact_footer{
    margin-top:15px;
    margin-left:55px;
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-row-gap: 0px;
    grid-column-gap: 56px;
}

.blr_address_footer{
    padding-top:10px;
}

.footer_button{
    width:190px;
    height:54px;
    border-radius:24px;
    background:#5C5FAB;
    border:none;
    color:#fff;
    font-weight:700;
    font-size:18px;
    margin-left:61px;
    margin-top:19px;
}

.footer_text_question_two > h1{
    font-size:10px;
    font-weight:400;
    width:201px;
    color:rgba(31, 31, 49, 1);
}

.footer_text_question > h1{
    font-size:24px;
    font-weight:700;
    color:rgba(31, 31, 49, 1);
}


.footer_text_question_two{
    padding:9px 0 0 56px;
}

.footer_text_question{
    padding:51px 0 0 25px;
}


/*footer finish*/


